
:root {
    font-family: 'Roboto', sans-serif;
    --bttnLightShade: #DFF1F6;
    --headerColor: #6DC0D5;
    --sideBarColor: #EFF8FB;
    --sideBarHover: #DFF1F6;
    --formControl: #495057;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-rows: 55px 1fr;
    grid-template-areas: 
    'header-container header-container'
    'sidebar list-container ';
}

#header-container {
    grid-column: 1/3;
    background-color: pink;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    background-color: var(--headerColor);
}

.flex-header {margin-top: 8px;}

#flex-header1 {
    font-family: 'Old Standard TT', serif;
    font-size: 25px;
    margin-left: 35px;
}

#flex-header2 {margin-right: 20px;}

#to-do {
    margin-left: 10px;
    position: relative;
    bottom: 10px;
    color: white;
}

#greeting {margin-right: 15px;}

button {
    font-weight: inherit;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    border: none;
    background-color: var(--bttnLightShade);
    transition: 0.2s ease;
}

button:hover {transform: scale(1.1);}  

#sidebar {background-color: var(--sideBarColor);}

#tab-container {
    width: 70%;
    position: relative;
    top: 35px;
    left: 40px;
}

.tab {
    padding: 5px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 25px;
}

.tab:hover:not(#project-tab), .projects:hover {
    background-color: var(--sideBarHover);
    cursor: pointer;
}

#project-container {
    height: 200px;
    overflow: scroll;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 20px;
}

.projects {
    padding: 8px;
    margin-bottom: 5px;
    width: 90%;
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--headerColor);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--sideBarHover);
    border-radius: 5px;
} 

.chore-count {
    font-size: 12px;
    background-color: var(--headerColor);
    padding: 1px 5px;
    margin-right: 5px;
    border-radius: 50%;
    position: relative;
    bottom: 3px;
    font-weight: bold;
}

#list-subcontainer {
    width: 80%;
    height: 550px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    overflow: auto;
}

#task-header {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer; 
}

#home {
    font-size: 22px;
    margin-left: 10px;
}

#due-date {
    position: relative;
    top: 2px;
    margin-right: 60px;
}

#arrow {margin-left: 5px}

.addTask-container, .list-item {
    list-style-type: none;
    border-top: 1px solid var(--bttnLightShade);
    border-bottom: 1px solid var(--bttnLightShade);
    cursor: pointer;
}

.addTask-container {
    padding: 5px;
    opacity: .5;
}

.addTask-container:hover {opacity: 1;}

#addTask-text {
    position: relative;
    bottom: 3px;
    left: 8px;
}

.checkbox {transform: scale(1.2);}

.checkbox + span {margin-left: 8px;}

#trash, #edit {
    opacity: 0;
    position: relative;
    top: 1px;
    transition: 0.1s ease-out;
}

#trash:hover, #edit:hover {transform: scale(1.2);}

.list-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.list-item:hover #edit, .list-item:hover #trash {opacity: 0.5;}

.list-item:nth-child(1) {margin-left: 1px;}

#date {
    margin-right: 12px;
    font-size: 14px;
}

#list-form-container {
    height: 250px;
}

#list-form {
    margin: 10px;
    height: 150px;
    border-radius: 15px;
    border: 1px solid var(--headerColor);
    position: relative;
}

input, textarea {outline: none;}

textarea {
    height: 60px;
    resize: none;
}

.form-control1 {
    display: block;
    margin: 15px;
    border: none;
    width: 80%;
}

#form-control2-container {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.form-control2 {
    border: 1px solid var(--headerColor);
    border-radius: 5px;
    color: var(--formControl);
    text-align: center;
}

.form-control2:hover {transform: scale(1.03);}

.form-control2:focus {box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);}

.form-control2:nth-child(1) {padding: 2px;}

.form-control2:nth-child(2) {
    padding: 4px;
    margin-left: 5px;
}

#cancelIcon, #checkmarkIcon,.form-control2 {transition: 0.1s ease;}

#check-cancel-container {margin-left: 15px;}

#cancelIcon {margin-left: 5px;}

#cancelIcon:hover, #checkmarkIcon:hover {transform: scale(1.1);}